html, body {
  font-family: Avenir, 'Segoe UI', sans-serif
}

.container {
  max-width: 960px;
}

header {
  padding-top: 7rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 6rem;
  background: rgb(245, 248, 255);
}

.post {
  border-bottom: 1px solid #eee;
  padding: 6rem 0;
  overflow: hidden;
}

.post:last-child {
  border: 0;
}

h2 {
  font-size: 2rem;
}

.error {
  padding-top: 4px;
  color: rgb(243, 85, 85);
}

.admin {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.admin:last-child {
  border: 0;
}

.admin-list {
  max-height: 200px;
  overflow: auto;
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0;
}

.admin .edit-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  line-height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.edit-box .button {
  background-color: rgba(255, 255, 255, 0.6);
}

.admin:hover .edit-box {
  display: flex;
}

.post .post-metadata {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
